*.sw*
*.log
*.status
*.pyc
*.deb
*.rpm
*.sar
*.pid
*.html
HD*
hd*
todel/
generated/
.idea/
Makefile
Makefile.in
README.html
aclocal.m4
apoinstall
autom4te.cache/
configure
doc/index.html
**/autopoweroff-uninstall
**/autopoweroff-upgrade
**/autopoweroffd
**/autopoweroff-gui
**/autopoweroff.desktop
etc/autopoweroff/autopoweroff-metadata
etc/init.d/autopoweroff.lsb
etc/init.d/autopoweroff.rc-status
etc/init.d/autopoweroff.redhat
etc/security/console.apps/autopoweroff
packages/deb/control
packages/deb/postinst
packages/deb/postrm
packages/rpm/autopoweroff.spec
packages/deb/build/
packages/deb/*.tar.gz
packages/rpm/*.tar.gz
