*.sw*
*.log
*.status
*.pyc
*.deb
*.rpm
*.sar
*.pid
.idea/
Makefile
Makefile.in
README.html
aclocal.m4
apoinstall
autom4te.cache/
configure
doc/README.md
doc/index.html
sbin/autopoweroff
sbin/autopoweroff-uninstall
sbin/autopoweroff-upgrade
sbin/autopoweroffd
sbin/python-autopoweroffd.sh
etc/init.d/autopoweroff.lsb
etc/init.d/autopoweroff.rc-status
etc/init.d/autopoweroff.redhat
etc/security/console.apps/autopoweroff
packages/deb/control
packages/deb/postinst
packages/deb/postrm
packages/rpm/autopoweroff.spec
desktop/autopoweroff.desktop
packages/deb/build/
